include LICENSE
include README.rst
recursive-include */static *
recursive-include */templates *
exclude */static/config.rb
exclude */static/js/jquery.js
exclude */static/js/profile.js
recursive-exclude */static/sass *
