/*
 * local accounts (email) and social accounts
 */

.allauth_login_form {
	@include make-row();
	margin: 1em 0;

	.socialaccount_providers {
		@include make-xs-column(12);
		@include make-sm-column(8);
		@include make-md-column(4);
		list-style: none;
		text-align: center;
	}

	.login-or {
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(2);
		text-align: center;
		vertical-align: middle;
		padding: 1.5em 0;

		&:before,
		&:after {
			color: $brand-primary-lighter;
		}
		&:before {
			content: "\2014  ";
		}
		&:after {
			content: "  \2014";
		}
	}

	form.login,
	form.signup {
		@include make-xs-column(12);
		@include make-md-column(6);

		input[type=email],
		input[type=password],
		input[type=text] {
			width: 100%;
		}
	}
}
