/*
 * Typography
 */

q,
blockquote {
	&:before {
		content: '\201C';
	}

	&:after {
		content: '\201D';
	}
}

/*
 * Bootstrap corrections
 */

.breadcrumb {
	color: $breadcrumb-color;

	> li {
		+ li:before {
			content: "#{$breadcrumb-separator}"; // remove Bootstrap's trailing Unicode space
		}
	}
}
