/*
 * Colors for your project. See bootstrap-sass for available variable names.
 */

$brand-primary: #008195;
$breadcrumb-color: #5e5e5e;
$wallpaper-light: #fff5d8;
$wallpaper-middle: #efddac;
$wallpaper-dark: #c7b98e;
$body-shadow: #333333;
$nav-bg-level-1: #cee4e7;
$nav-bg-level-2: #eef6f7;
$nav-bg-level-3: #f4edd4;

/*
 * Typography
 */

q,
blockquote {
	&:before {
		content: '\201C';
	}

	&:after {
		content: '\201D';
	}
}
